* {
  margin:0;
  padding: 1vw;
  text-align: center;
  color: #009688;
  font-family: Verdana, Geneva, sans-serif;
}

body {
  background-color: #e0f2f1;
}

#displayName {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#displayName_en {
  font-size: 10vw;
}

#displayName_cn {
  font-size: 6vw;
}
