* {
  margin:0;
  border: 0;
  padding: 0;

  text-align: center;
  font-family: Charter, Cambria, Georgia, serif;
}

body {
  background-color: #FFFFFF;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#displayName {
  font-size: 12vw;
  color: #333333;
}

#newName {
  background-color: #333333;
  border-radius: 18px;
  margin: 6vw 0 0 0;
  padding: 24px 48px;
  transition: 0.3s;

  font-size: 48px;
  color: #FFFFFF;
}

#newName:hover {
  background-color: #666;
}